n8n/workflow.json
{
  "name": "Fahrschule Native Multi-Agent Orchestration",
  "description": null,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -2000,
        500
      ],
      "name": "Chat Trigger",
      "webhookId": "fahrschule-native-chat",
      "id": "c3a76037-815d-4d9c-921d-b2d74c55fd87"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1900,
        900
      ],
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "name": "Fahrschule OpenAI"
        }
      },
      "id": "7958f377-76f9-4539-870f-0bcec8b976e1"
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1900,
        1100
      ],
      "name": "OpenAI Embeddings",
      "credentials": {
        "openAiApi": {
          "name": "Fahrschule OpenAI"
        }
      },
      "id": "f5091c88-87c3-4aed-829e-aa8fe1971140"
    },
    {
      "parameters": {
        "inputText": "={{ $json.chatInput }}",
        "categories": {
          "categories": [
            {
              "category": "Pricing",
              "description": "Questions about course prices, costs, fees, discounts, or payment. Also includes short follow-up answers that continue an ongoing pricing conversation, such as: new license vs special case (conversion, re-issuance, school change); car only vs combined with another class; manual vs automatic transmission; standard vs intensive vs simulator course. Treat these short disambiguation replies as Pricing even without the word 'price' in them."
            },
            {
              "category": "Timings",
              "description": "Questions about addresses, opening hours, contact info, or locations."
            },
            {
              "category": "Documents",
              "description": "Questions about how to register/enroll, required documents, exam registration, or document validity."
            },
            {
              "category": "Courses",
              "description": "Questions about which courses or license classes are offered, course content, exam procedure, or simulator/VR training."
            }
          ]
        },
        "options": {
          "multiClass": true,
          "fallback": "other"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -1700,
        500
      ],
      "name": "Intent Classifier",
      "id": "b20f12f1-45d3-4056-ba51-58b41fc581c5"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Chat Trigger').item.json.sessionId }}",
        "contextWindowLength": 12
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1500,
        300
      ],
      "name": "Session Memory",
      "id": "9a5eda60-e97a-43ca-b8b1-98cb2ed11dc9"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const store = $getWorkflowStaticData('global');\nconst sessions = store.pricingSessions || {};\nconst sessionId = $json.sessionId;\nconst midPricing = sessions[sessionId] === true;\nreturn [{ json: { ...$json, _forcePricing: midPricing } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1900,
        500
      ],
      "name": "Session Router",
      "id": "55348ef8-6934-499c-947f-23972ad02a83"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json._forcePricing }}",
              "rightValue": ""
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1800,
        500
      ],
      "name": "Route Check",
      "id": "6ab2beb3-8f2a-47b8-abc8-11d1d7f6913f"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "search_price_sheets",
        "toolDescription": "Search the official, verified price sheets for German driving license courses. Input a specific class/variant description (for example 'Klasse B197' or 'Klasse BE'). Returns the exact line items, total price, and effective date for matching sheets. Only call this once the specific variant is known, not for a still-ambiguous class.",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "pricing"
        },
        "options": {
          "contentPayloadKey": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -1400,
        100
      ],
      "name": "Pricing Vector Store",
      "credentials": {
        "qdrantApi": {
          "name": "Fahrschule Qdrant"
        }
      },
      "id": "34392136-52b6-4924-9909-37e5feb5c932"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "=IMPORTANT LANGUAGE RULE: Reply strictly in {{ $('Chat Trigger').item.json.lang === 'en' ? 'English' : 'German' }}, regardless of the language of the customer's message. Do not switch languages even if the customer types in the other language.\n\nYou are the Pricing specialist for a German driving school. You have a tool that searches the official, verified price sheets. Some license classes have only one priced variant (for example Mofa, AM, A1, A2, L, T, or a variant the customer already named exactly, like BE or B197). Others have several differently priced variants, most notably Class B, which has about 18, so you must NEVER guess or average a price across variants.\n\nFollow this exact process on every pricing question:\n1. First decide whether the class actually needs disambiguation. If the customer named a class that only has one variant, or already named a specific variant exactly, skip straight to step 2, do not invent clarifying questions that do not apply to that class.\n2. If, and only if, the class genuinely has multiple priced variants and it is not yet clear which one, ask ONE short clarifying question at a time, in this order, skipping any step already answered by the customer:\n   a. Is this a new license, or a special case (converting a foreign license, re-issuance after withdrawal, switching driving schools, or removing an automatic-only restriction)?\n   b. If new: do they want the class alone, or combined with another class (for example a trailer, another vehicle class, or a tractor)?\n   c. If the class alone (for Class B specifically): manual or automatic transmission? (Automatic keeps manual entitlement too, this is the B197 variant, and fully answers this question, no course-type question needed.)\n   d. If manual: standard course, intensive course, or with simulator?\n3. Once exactly ONE specific variant is clear (whether immediately, from step 1, or after disambiguating in step 2), use the search tool to retrieve its real price and state the exact total and the effective date, and mention the official price sheet is available as a download.\n4. Never state a price for a class that still has multiple possible variants. Never invent, estimate, round, or calculate a discount. If the tool does not return a clear answer, say you are not certain and offer to connect the customer with the team.\n5. Remember answers the customer already gave earlier in this conversation, do not ask the same question twice.\n6. You may be invoked directly for a message that is not actually about pricing (this can happen when the routing defaults to you mid-conversation). If the customer's message is clearly unrelated to any driving license topic at all (for example a completely different subject), say briefly that you handle pricing questions and ask them to restate what they need. A question naming a license class or course is on-topic even if you are not yet sure exactly what it needs, in that case follow steps 1 to 3 instead of treating it as off-topic.",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1200,
        100
      ],
      "name": "Pricing Agent",
      "id": "f7127672-8b83-471c-9fcb-6a79d2ef9625"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const store = $getWorkflowStaticData('global');\nif (!store.pricingSessions) store.pricingSessions = {};\nif (!store.lastDocument) store.lastDocument = {};\nconst sessionId = $('Chat Trigger').item.json.sessionId;\nconst answer = $json.output || '';\n\n// Extract the source PDF filename from the actual retrieved tool content\n// (returnIntermediateSteps=true on the Agent node), not from the model's own\n// prose, so this does not depend on the LLM remembering to cite it correctly\n// every time. The pricing chunk text always contains this exact line (see\n// scripts/01_prepare_pricing_chunks.py), so a match here is deterministic.\nconst filenameRe = /Quelldokument \\(offizielles Preisblatt\\):\\s*([^\\n]+?\\.pdf)/i;\nlet pdfFile = null;\nconst steps = $json.intermediateSteps;\nif (Array.isArray(steps)) {\n  for (const step of steps) {\n    const observation = (step && (step.observation || step.output)) || '';\n    const text = typeof observation === 'string' ? observation : JSON.stringify(observation);\n    const m = text.match(filenameRe);\n    if (m) pdfFile = m[1].trim();  // keep the last (most recent) match if several\n  }\n}\n\n// A final priced answer states a concrete euro total; a clarifying question does not.\n// Match both German (\"236,96 EUR\" / \"236,96 €\") and English (\"€236.96\" / \"EUR 236.96\")\n// formatting, since the Synthesizer localises the number style to the reply language.\nconst looksResolved = /(?:\\d[\\d.,]*[.,]\\d{2}\\s*(?:€|EUR)|(?:€|EUR)\\s*\\d[\\d.,]*[.,]\\d{2})/.test(answer);\nstore.pricingSessions[sessionId] = !looksResolved;\nstore.lastDocument[sessionId] = looksResolved ? pdfFile : null;\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1050,
        100
      ],
      "name": "Update Pricing State",
      "id": "67d4d988-2b65-41a2-ba5e-6570ac737170"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "response",
              "type": "string",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -900,
        100
      ],
      "name": "Pricing Answer (normalized)",
      "id": "f2f7b1b8-db97-4794-b22a-5306925ddaa9"
    },
    {
      "parameters": {
        "mode": "retrieve",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "location_hours"
        },
        "options": {
          "contentPayloadKey": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -1400,
        320
      ],
      "name": "Timings Vector Store",
      "credentials": {
        "qdrantApi": {
          "name": "Fahrschule Qdrant"
        }
      },
      "id": "41b78705-5a30-49e5-bf51-c2be2d5e7604"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        -1250,
        320
      ],
      "name": "Timings Retriever",
      "id": "8abc432f-dff8-4d03-8cde-76dede8cea1a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemPromptTemplate": "=IMPORTANT LANGUAGE RULE: Reply strictly in {{ $('Chat Trigger').item.json.lang === 'en' ? 'English' : 'German' }}, regardless of the language of the customer's message. Do not switch languages even if the customer types in the other language.\n\nYou answer LOCATION AND OPENING HOURS questions using ONLY the retrieved context. If the context does not clearly answer, say you are not certain and offer to connect the customer with the team.\n----------------\nContext: {context}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        -1100,
        320
      ],
      "name": "Timings RAG Chain",
      "id": "161ad2e2-a6ce-41e9-a456-d8f9df5dbc3f"
    },
    {
      "parameters": {
        "mode": "retrieve",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "registration_docs"
        },
        "options": {
          "contentPayloadKey": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -1400,
        540
      ],
      "name": "Documents Vector Store",
      "credentials": {
        "qdrantApi": {
          "name": "Fahrschule Qdrant"
        }
      },
      "id": "9e77d166-ae27-4acf-97ee-dac14a9351e3"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        -1250,
        540
      ],
      "name": "Documents Retriever",
      "id": "b4726765-0911-4d74-873b-e3fe3147f63f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemPromptTemplate": "=IMPORTANT LANGUAGE RULE: Reply strictly in {{ $('Chat Trigger').item.json.lang === 'en' ? 'English' : 'German' }}, regardless of the language of the customer's message. Do not switch languages even if the customer types in the other language.\n\nYou answer REGISTRATION AND REQUIRED-DOCUMENTS questions using ONLY the retrieved context. If the context does not clearly answer, say you are not certain and offer to connect the customer with the team.\n----------------\nContext: {context}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        -1100,
        540
      ],
      "name": "Documents RAG Chain",
      "id": "b4dda79a-03d6-4595-9c82-d46342ab73b5"
    },
    {
      "parameters": {
        "mode": "retrieve",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "courses_offerings"
        },
        "options": {
          "contentPayloadKey": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -1400,
        760
      ],
      "name": "Courses Vector Store",
      "credentials": {
        "qdrantApi": {
          "name": "Fahrschule Qdrant"
        }
      },
      "id": "63539c89-1a2c-4cbb-9213-ebc9ebdcc8c5"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        -1250,
        760
      ],
      "name": "Courses Retriever",
      "id": "e29d40b3-22f7-413e-905a-1cc62fbe5a3e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemPromptTemplate": "=IMPORTANT LANGUAGE RULE: Reply strictly in {{ $('Chat Trigger').item.json.lang === 'en' ? 'English' : 'German' }}, regardless of the language of the customer's message. Do not switch languages even if the customer types in the other language.\n\nYou answer COURSE AND OFFERING questions using ONLY the retrieved context. If the context does not clearly answer, say you are not certain and offer to connect the customer with the team.\n----------------\nContext: {context}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        -1100,
        760
      ],
      "name": "Courses RAG Chain",
      "id": "53a11ca3-dda6-4a1e-8cec-2a916c394bf7"
    },
    {
      "parameters": {
        "mode": "retrieve",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "general"
        },
        "options": {
          "contentPayloadKey": "text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -1400,
        980
      ],
      "name": "Other Vector Store",
      "credentials": {
        "qdrantApi": {
          "name": "Fahrschule Qdrant"
        }
      },
      "id": "485ec1f9-367e-473b-a42f-14ac4aca3506"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        -1250,
        980
      ],
      "name": "Other Retriever",
      "id": "75963ef1-3757-4ac1-9838-2bf32b423d6a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemPromptTemplate": "=IMPORTANT LANGUAGE RULE: Reply strictly in {{ $('Chat Trigger').item.json.lang === 'en' ? 'English' : 'German' }}, regardless of the language of the customer's message. Do not switch languages even if the customer types in the other language.\n\nYou answer general company questions using ONLY the retrieved context. If nothing relevant was retrieved, say you are not certain and offer to connect the customer with the team.\n----------------\nContext: {context}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.7,
      "position": [
        -1100,
        980
      ],
      "name": "Other RAG Chain",
      "id": "fe0aaf94-30a3-4288-94fe-ee1555bac4b6"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -600,
        500
      ],
      "name": "Merge Answers",
      "id": "bc46064e-e497-42fc-b367-de650f5fea49"
    },
    {
      "parameters": {
        "aggregate": "aggregateIndividualFields",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "response"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -400,
        500
      ],
      "name": "Aggregate Answers",
      "id": "28407178-d4b2-472a-ae9d-124f179811e5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANT LANGUAGE RULE: Reply strictly in {{ $('Chat Trigger').item.json.lang === 'en' ? 'English' : 'German' }}, regardless of the language of the customer's message. Do not switch languages even if the customer types in the other language.\n\nYou are the final response formatter for a German driving school chatbot. You receive one or more draft answers from specialist agents, plus the customer's original message. Combine them into ONE clean, professional, well-formatted reply. Do not add, remove, or alter any number, price, date, or fact from the draft answers, only merge, reformat, translate if needed to match the required response language above, and improve the phrasing. If a draft says it is not certain, keep that uncertainty and the offer to connect with the team in the final reply.\n\nCustomer's message: {{ $('Chat Trigger').item.json.chatInput }}\n\nDraft answers:\n{{ ($json.response || []).join('\\n\\n') }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -200,
        500
      ],
      "name": "Synthesizer",
      "id": "d25ba15b-fa6a-43dd-97f6-c39fbc018d1e"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const store = $getWorkflowStaticData('global');\nconst sessionId = $('Chat Trigger').item.json.sessionId;\nconst docs = store.lastDocument || {};\nconst documentFile = docs[sessionId] || null;\n// consume once so it doesn't reattach to a later, unrelated reply in the same session\nif (sessionId in docs) delete docs[sessionId];\n\nconst item = $input.all()[0];\nreturn [{ json: { ...item.json, documentFile } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        500
      ],
      "name": "Attach Document Link",
      "id": "c45351c9-674e-4616-86db-c5272957ec4e"
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Session Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Router": {
      "main": [
        [
          {
            "node": "Route Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Check": {
      "main": [
        [
          {
            "node": "Pricing Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Intent Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Pricing Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Timings RAG Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Documents RAG Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Courses RAG Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Other RAG Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Synthesizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Pricing Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Timings Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Documents Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Courses Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Other Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Session Memory": {
      "ai_memory": [
        [
          {
            "node": "Pricing Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pricing Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Pricing Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pricing Agent": {
      "main": [
        [
          {
            "node": "Update Pricing State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Pricing State": {
      "main": [
        [
          {
            "node": "Pricing Answer (normalized)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pricing Answer (normalized)": {
      "main": [
        [
          {
            "node": "Merge Answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timings Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Timings Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Timings Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Timings RAG Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Timings RAG Chain": {
      "main": [
        [
          {
            "node": "Merge Answers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Documents Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Documents Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Documents Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Documents RAG Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Documents RAG Chain": {
      "main": [
        [
          {
            "node": "Merge Answers",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Courses Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Courses Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Courses Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Courses RAG Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Courses RAG Chain": {
      "main": [
        [
          {
            "node": "Merge Answers",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Other Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Other Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Other Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Other RAG Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Other RAG Chain": {
      "main": [
        [
          {
            "node": "Merge Answers",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Intent Classifier": {
      "main": [
        [
          {
            "node": "Pricing Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Timings RAG Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Documents RAG Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Courses RAG Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Other RAG Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Answers": {
      "main": [
        [
          {
            "node": "Aggregate Answers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Answers": {
      "main": [
        [
          {
            "node": "Synthesizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Synthesizer": {
      "main": [
        [
          {
            "node": "Attach Document Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "activeVersionId": "f4139b82-ad83-458d-a85d-7931c4668ade",
  "versionCounter": 310,
  "activeVersion": {
    "updatedAt": "2026-07-16T19:25:02.146Z",
    "createdAt": "2026-07-16T19:25:02.146Z",
    "versionId": "f4139b82-ad83-458d-a85d-7931c4668ade",
    "workflowId": "iPLMB3TIMwngEDDU",
    "nodes": [
      {
        "parameters": {
          "public": true,
          "mode": "webhook",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          -2000,
          500
        ],
        "name": "Chat Trigger",
        "webhookId": "fahrschule-native-chat",
        "id": "c3a76037-815d-4d9c-921d-b2d74c55fd87"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "id",
            "value": "gpt-4o-mini"
          },
          "responsesApiEnabled": false,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -1900,
          900
        ],
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "iOFiRdyfBWAfyBLQ",
            "name": "Fahrschule OpenAI"
          }
        },
        "id": "7958f377-76f9-4539-870f-0bcec8b976e1"
      },
      {
        "parameters": {
          "model": "text-embedding-3-small",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          -1900,
          1100
        ],
        "name": "OpenAI Embeddings",
        "credentials": {
          "openAiApi": {
            "id": "iOFiRdyfBWAfyBLQ",
            "name": "Fahrschule OpenAI"
          }
        },
        "id": "f5091c88-87c3-4aed-829e-aa8fe1971140"
      },
      {
        "parameters": {
          "inputText": "={{ $json.chatInput }}",
          "categories": {
            "categories": [
              {
                "category": "Pricing",
                "description": "Questions about course prices, costs, fees, discounts, or payment. Also includes short follow-up answers that continue an ongoing pricing conversation, such as: new license vs special case (conversion, re-issuance, school change); car only vs combined with another class; manual vs automatic transmission; standard vs intensive vs simulator course. Treat these short disambiguation replies as Pricing even without the word 'price' in them."
              },
              {
                "category": "Timings",
                "description": "Questions about addresses, opening hours, contact info, or locations."
              },
              {
                "category": "Documents",
                "description": "Questions about how to register/enroll, required documents, exam registration, or document validity."
              },
              {
                "category": "Courses",
                "description": "Questions about which courses or license classes are offered, course content, exam procedure, or simulator/VR training."
              }
            ]
          },
          "options": {
            "multiClass": true,
            "fallback": "other"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.textClassifier",
        "typeVersion": 1.1,
        "position": [
          -1700,
          500
        ],
        "name": "Intent Classifier",
        "id": "b20f12f1-45d3-4056-ba51-58b41fc581c5"
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Chat Trigger').item.json.sessionId }}",
          "contextWindowLength": 12
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          -1500,
          300
        ],
        "name": "Session Memory",
        "id": "9a5eda60-e97a-43ca-b8b1-98cb2ed11dc9"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const store = $getWorkflowStaticData('global');\nconst sessions = store.pricingSessions || {};\nconst sessionId = $json.sessionId;\nconst midPricing = sessions[sessionId] === true;\nreturn [{ json: { ...$json, _forcePricing: midPricing } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1900,
          500
        ],
        "name": "Session Router",
        "id": "55348ef8-6934-499c-947f-23972ad02a83"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "1",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                },
                "leftValue": "={{ $json._forcePricing }}",
                "rightValue": ""
              }
            ]
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1800,
          500
        ],
        "name": "Route Check",
        "id": "6ab2beb3-8f2a-47b8-abc8-11d1d7f6913f"
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolName": "search_price_sheets",
          "toolDescription": "Search the official, verified price sheets for German driving license courses. Input a specific class/variant description (for example 'Klasse B197' or 'Klasse BE'). Returns the exact line items, total price, and effective date for matching sheets. Only call this once the specific variant is known, not for a still-ambiguous class.",
          "qdrantCollection": {
            "__rl": true,
            "mode": "id",
            "value": "pricing"
          },
          "options": {
            "contentPayloadKey": "text"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "typeVersion": 1.3,
        "position": [
          -1400,
          100
        ],
        "name": "Pricing Vector Store",
        "credentials": {
          "qdrantApi": {
            "id": "0yyoWZb9YJlIqPnW",
            "name": "Fahrschule Qdrant"
          }
        },
        "id": "34392136-52b6-4924-9909-37e5feb5c932"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.chatInput }}",
          "hasOutputParser": false,
          "options": {
            "systemMessage": "=IMPORTANT LANGUAGE RULE: Reply strictly in {{ $('Chat Trigger').item.json.lang === 'en' ? 'English' : 'German' }}, regardless of the language of the customer's message. Do not switch languages even if the customer types in the other language.\n\nYou are the Pricing specialist for a German driving school. You have a tool that searches the official, verified price sheets. Some license classes have only one priced variant (for example Mofa, AM, A1, A2, L, T, or a variant the customer already named exactly, like BE or B197). Others have several differently priced variants, most notably Class B, which has about 18, so you must NEVER guess or average a price across variants.\n\nFollow this exact process on every pricing question:\n1. First decide whether the class actually needs disambiguation. If the customer named a class that only has one variant, or already named a specific variant exactly, skip straight to step 2, do not invent clarifying questions that do not apply to that class.\n2. If, and only if, the class genuinely has multiple priced variants and it is not yet clear which one, ask ONE short clarifying question at a time, in this order, skipping any step already answered by the customer:\n   a. Is this a new license, or a special case (converting a foreign license, re-issuance after withdrawal, switching driving schools, or removing an automatic-only restriction)?\n   b. If new: do they want the class alone, or combined with another class (for example a trailer, another vehicle class, or a tractor)?\n   c. If the class alone (for Class B specifically): manual or automatic transmission? (Automatic keeps manual entitlement too, this is the B197 variant, and fully answers this question, no course-type question needed.)\n   d. If manual: standard course, intensive course, or with simulator?\n3. Once exactly ONE specific variant is clear (whether immediately, from step 1, or after disambiguating in step 2), use the search tool to retrieve its real price and state the exact total and the effective date, and mention the official price sheet is available as a download.\n4. Never state a price for a class that still has multiple possible variants. Never invent, estimate, round, or calculate a discount. If the tool does not return a clear answer, say you are not certain and offer to connect the customer with the team.\n5. Remember answers the customer already gave earlier in this conversation, do not ask the same question twice.\n6. You may be invoked directly for a message that is not actually about pricing (this can happen when the routing defaults to you mid-conversation). If the customer's message is clearly unrelated to any driving license topic at all (for example a completely different subject), say briefly that you handle pricing questions and ask them to restate what they need. A question naming a license class or course is on-topic even if you are not yet sure exactly what it needs, in that case follow steps 1 to 3 instead of treating it as off-topic.",
            "returnIntermediateSteps": true
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -1200,
          100
        ],
        "name": "Pricing Agent",
        "id": "f7127672-8b83-471c-9fcb-6a79d2ef9625"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const store = $getWorkflowStaticData('global');\nif (!store.pricingSessions) store.pricingSessions = {};\nif (!store.lastDocument) store.lastDocument = {};\nconst sessionId = $('Chat Trigger').item.json.sessionId;\nconst answer = $json.output || '';\n\n// Extract the source PDF filename from the actual retrieved tool content\n// (returnIntermediateSteps=true on the Agent node), not from the model's own\n// prose, so this does not depend on the LLM remembering to cite it correctly\n// every time. The pricing chunk text always contains this exact line (see\n// scripts/01_prepare_pricing_chunks.py), so a match here is deterministic.\nconst filenameRe = /Quelldokument \\(offizielles Preisblatt\\):\\s*([^\\n]+?\\.pdf)/i;\nlet pdfFile = null;\nconst steps = $json.intermediateSteps;\nif (Array.isArray(steps)) {\n  for (const step of steps) {\n    const observation = (step && (step.observation || step.output)) || '';\n    const text = typeof observation === 'string' ? observation : JSON.stringify(observation);\n    const m = text.match(filenameRe);\n    if (m) pdfFile = m[1].trim();  // keep the last (most recent) match if several\n  }\n}\n\n// A final priced answer states a concrete euro total; a clarifying question does not.\n// Match both German (\"236,96 EUR\" / \"236,96 €\") and English (\"€236.96\" / \"EUR 236.96\")\n// formatting, since the Synthesizer localises the number style to the reply language.\nconst looksResolved = /(?:\\d[\\d.,]*[.,]\\d{2}\\s*(?:€|EUR)|(?:€|EUR)\\s*\\d[\\d.,]*[.,]\\d{2})/.test(answer);\nstore.pricingSessions[sessionId] = !looksResolved;\nstore.lastDocument[sessionId] = looksResolved ? pdfFile : null;\n\nreturn $input.all();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1050,
          100
        ],
        "name": "Update Pricing State",
        "id": "67d4d988-2b65-41a2-ba5e-6570ac737170"
      },
      {
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "response",
                "type": "string",
                "value": "={{ $json.output }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -900,
          100
        ],
        "name": "Pricing Answer (normalized)",
        "id": "f2f7b1b8-db97-4794-b22a-5306925ddaa9"
      },
      {
        "parameters": {
          "mode": "retrieve",
          "qdrantCollection": {
            "__rl": true,
            "mode": "id",
            "value": "location_hours"
          },
          "options": {
            "contentPayloadKey": "text"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "typeVersion": 1.3,
        "position": [
          -1400,
          320
        ],
        "name": "Timings Vector Store",
        "credentials": {
          "qdrantApi": {
            "id": "0yyoWZb9YJlIqPnW",
            "name": "Fahrschule Qdrant"
          }
        },
        "id": "41b78705-5a30-49e5-bf51-c2be2d5e7604"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
        "typeVersion": 1,
        "position": [
          -1250,
          320
        ],
        "name": "Timings Retriever",
        "id": "8abc432f-dff8-4d03-8cde-76dede8cea1a"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.chatInput }}",
          "options": {
            "systemPromptTemplate": "=IMPORTANT LANGUAGE RULE: Reply strictly in {{ $('Chat Trigger').item.json.lang === 'en' ? 'English' : 'German' }}, regardless of the language of the customer's message. Do not switch languages even if the customer types in the other language.\n\nYou answer LOCATION AND OPENING HOURS questions using ONLY the retrieved context. If the context does not clearly answer, say you are not certain and offer to connect the customer with the team.\n----------------\nContext: {context}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
        "typeVersion": 1.7,
        "position": [
          -1100,
          320
        ],
        "name": "Timings RAG Chain",
        "id": "161ad2e2-a6ce-41e9-a456-d8f9df5dbc3f"
      },
      {
        "parameters": {
          "mode": "retrieve",
          "qdrantCollection": {
            "__rl": true,
            "mode": "id",
            "value": "registration_docs"
          },
          "options": {
            "contentPayloadKey": "text"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "typeVersion": 1.3,
        "position": [
          -1400,
          540
        ],
        "name": "Documents Vector Store",
        "credentials": {
          "qdrantApi": {
            "id": "0yyoWZb9YJlIqPnW",
            "name": "Fahrschule Qdrant"
          }
        },
        "id": "9e77d166-ae27-4acf-97ee-dac14a9351e3"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
        "typeVersion": 1,
        "position": [
          -1250,
          540
        ],
        "name": "Documents Retriever",
        "id": "b4726765-0911-4d74-873b-e3fe3147f63f"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.chatInput }}",
          "options": {
            "systemPromptTemplate": "=IMPORTANT LANGUAGE RULE: Reply strictly in {{ $('Chat Trigger').item.json.lang === 'en' ? 'English' : 'German' }}, regardless of the language of the customer's message. Do not switch languages even if the customer types in the other language.\n\nYou answer REGISTRATION AND REQUIRED-DOCUMENTS questions using ONLY the retrieved context. If the context does not clearly answer, say you are not certain and offer to connect the customer with the team.\n----------------\nContext: {context}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
        "typeVersion": 1.7,
        "position": [
          -1100,
          540
        ],
        "name": "Documents RAG Chain",
        "id": "b4dda79a-03d6-4595-9c82-d46342ab73b5"
      },
      {
        "parameters": {
          "mode": "retrieve",
          "qdrantCollection": {
            "__rl": true,
            "mode": "id",
            "value": "courses_offerings"
          },
          "options": {
            "contentPayloadKey": "text"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "typeVersion": 1.3,
        "position": [
          -1400,
          760
        ],
        "name": "Courses Vector Store",
        "credentials": {
          "qdrantApi": {
            "id": "0yyoWZb9YJlIqPnW",
            "name": "Fahrschule Qdrant"
          }
        },
        "id": "63539c89-1a2c-4cbb-9213-ebc9ebdcc8c5"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
        "typeVersion": 1,
        "position": [
          -1250,
          760
        ],
        "name": "Courses Retriever",
        "id": "e29d40b3-22f7-413e-905a-1cc62fbe5a3e"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.chatInput }}",
          "options": {
            "systemPromptTemplate": "=IMPORTANT LANGUAGE RULE: Reply strictly in {{ $('Chat Trigger').item.json.lang === 'en' ? 'English' : 'German' }}, regardless of the language of the customer's message. Do not switch languages even if the customer types in the other language.\n\nYou answer COURSE AND OFFERING questions using ONLY the retrieved context. If the context does not clearly answer, say you are not certain and offer to connect the customer with the team.\n----------------\nContext: {context}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
        "typeVersion": 1.7,
        "position": [
          -1100,
          760
        ],
        "name": "Courses RAG Chain",
        "id": "53a11ca3-dda6-4a1e-8cec-2a916c394bf7"
      },
      {
        "parameters": {
          "mode": "retrieve",
          "qdrantCollection": {
            "__rl": true,
            "mode": "id",
            "value": "general"
          },
          "options": {
            "contentPayloadKey": "text"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
        "typeVersion": 1.3,
        "position": [
          -1400,
          980
        ],
        "name": "Other Vector Store",
        "credentials": {
          "qdrantApi": {
            "id": "0yyoWZb9YJlIqPnW",
            "name": "Fahrschule Qdrant"
          }
        },
        "id": "485ec1f9-367e-473b-a42f-14ac4aca3506"
      },
      {
        "parameters": {},
        "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
        "typeVersion": 1,
        "position": [
          -1250,
          980
        ],
        "name": "Other Retriever",
        "id": "75963ef1-3757-4ac1-9838-2bf32b423d6a"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.chatInput }}",
          "options": {
            "systemPromptTemplate": "=IMPORTANT LANGUAGE RULE: Reply strictly in {{ $('Chat Trigger').item.json.lang === 'en' ? 'English' : 'German' }}, regardless of the language of the customer's message. Do not switch languages even if the customer types in the other language.\n\nYou answer general company questions using ONLY the retrieved context. If nothing relevant was retrieved, say you are not certain and offer to connect the customer with the team.\n----------------\nContext: {context}"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
        "typeVersion": 1.7,
        "position": [
          -1100,
          980
        ],
        "name": "Other RAG Chain",
        "id": "fe0aaf94-30a3-4288-94fe-ee1555bac4b6"
      },
      {
        "parameters": {
          "numberInputs": 5
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          -600,
          500
        ],
        "name": "Merge Answers",
        "id": "bc46064e-e497-42fc-b367-de650f5fea49"
      },
      {
        "parameters": {
          "aggregate": "aggregateIndividualFields",
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "response"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          -400,
          500
        ],
        "name": "Aggregate Answers",
        "id": "28407178-d4b2-472a-ae9d-124f179811e5"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=IMPORTANT LANGUAGE RULE: Reply strictly in {{ $('Chat Trigger').item.json.lang === 'en' ? 'English' : 'German' }}, regardless of the language of the customer's message. Do not switch languages even if the customer types in the other language.\n\nYou are the final response formatter for a German driving school chatbot. You receive one or more draft answers from specialist agents, plus the customer's original message. Combine them into ONE clean, professional, well-formatted reply. Do not add, remove, or alter any number, price, date, or fact from the draft answers, only merge, reformat, translate if needed to match the required response language above, and improve the phrasing. If a draft says it is not certain, keep that uncertainty and the offer to connect with the team in the final reply.\n\nCustomer's message: {{ $('Chat Trigger').item.json.chatInput }}\n\nDraft answers:\n{{ ($json.response || []).join('\\n\\n') }}"
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          -200,
          500
        ],
        "name": "Synthesizer",
        "id": "d25ba15b-fa6a-43dd-97f6-c39fbc018d1e"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const store = $getWorkflowStaticData('global');\nconst sessionId = $('Chat Trigger').item.json.sessionId;\nconst docs = store.lastDocument || {};\nconst documentFile = docs[sessionId] || null;\n// consume once so it doesn't reattach to a later, unrelated reply in the same session\nif (sessionId in docs) delete docs[sessionId];\n\nconst item = $input.all()[0];\nreturn [{ json: { ...item.json, documentFile } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          500
        ],
        "name": "Attach Document Link",
        "id": "c45351c9-674e-4616-86db-c5272957ec4e"
      }
    ],
    "connections": {
      "Chat Trigger": {
        "main": [
          [
            {
              "node": "Session Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Session Router": {
        "main": [
          [
            {
              "node": "Route Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Check": {
        "main": [
          [
            {
              "node": "Pricing Agent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Intent Classifier",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Intent Classifier",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Pricing Agent",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Timings RAG Chain",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Documents RAG Chain",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Courses RAG Chain",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Other RAG Chain",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Synthesizer",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Embeddings": {
        "ai_embedding": [
          [
            {
              "node": "Pricing Vector Store",
              "type": "ai_embedding",
              "index": 0
            },
            {
              "node": "Timings Vector Store",
              "type": "ai_embedding",
              "index": 0
            },
            {
              "node": "Documents Vector Store",
              "type": "ai_embedding",
              "index": 0
            },
            {
              "node": "Courses Vector Store",
              "type": "ai_embedding",
              "index": 0
            },
            {
              "node": "Other Vector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Session Memory": {
        "ai_memory": [
          [
            {
              "node": "Pricing Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Pricing Vector Store": {
        "ai_tool": [
          [
            {
              "node": "Pricing Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Pricing Agent": {
        "main": [
          [
            {
              "node": "Update Pricing State",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Pricing State": {
        "main": [
          [
            {
              "node": "Pricing Answer (normalized)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pricing Answer (normalized)": {
        "main": [
          [
            {
              "node": "Merge Answers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Timings Vector Store": {
        "ai_vectorStore": [
          [
            {
              "node": "Timings Retriever",
              "type": "ai_vectorStore",
              "index": 0
            }
          ]
        ]
      },
      "Timings Retriever": {
        "ai_retriever": [
          [
            {
              "node": "Timings RAG Chain",
              "type": "ai_retriever",
              "index": 0
            }
          ]
        ]
      },
      "Timings RAG Chain": {
        "main": [
          [
            {
              "node": "Merge Answers",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Documents Vector Store": {
        "ai_vectorStore": [
          [
            {
              "node": "Documents Retriever",
              "type": "ai_vectorStore",
              "index": 0
            }
          ]
        ]
      },
      "Documents Retriever": {
        "ai_retriever": [
          [
            {
              "node": "Documents RAG Chain",
              "type": "ai_retriever",
              "index": 0
            }
          ]
        ]
      },
      "Documents RAG Chain": {
        "main": [
          [
            {
              "node": "Merge Answers",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "Courses Vector Store": {
        "ai_vectorStore": [
          [
            {
              "node": "Courses Retriever",
              "type": "ai_vectorStore",
              "index": 0
            }
          ]
        ]
      },
      "Courses Retriever": {
        "ai_retriever": [
          [
            {
              "node": "Courses RAG Chain",
              "type": "ai_retriever",
              "index": 0
            }
          ]
        ]
      },
      "Courses RAG Chain": {
        "main": [
          [
            {
              "node": "Merge Answers",
              "type": "main",
              "index": 3
            }
          ]
        ]
      },
      "Other Vector Store": {
        "ai_vectorStore": [
          [
            {
              "node": "Other Retriever",
              "type": "ai_vectorStore",
              "index": 0
            }
          ]
        ]
      },
      "Other Retriever": {
        "ai_retriever": [
          [
            {
              "node": "Other RAG Chain",
              "type": "ai_retriever",
              "index": 0
            }
          ]
        ]
      },
      "Other RAG Chain": {
        "main": [
          [
            {
              "node": "Merge Answers",
              "type": "main",
              "index": 4
            }
          ]
        ]
      },
      "Intent Classifier": {
        "main": [
          [
            {
              "node": "Pricing Agent",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Timings RAG Chain",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Documents RAG Chain",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Courses RAG Chain",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Other RAG Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Answers": {
        "main": [
          [
            {
              "node": "Aggregate Answers",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Answers": {
        "main": [
          [
            {
              "node": "Synthesizer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Synthesizer": {
        "main": [
          [
            {
              "node": "Attach Document Link",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Fahrschule Admin",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-07-16T19:25:02.242Z",
        "id": 53,
        "workflowId": "iPLMB3TIMwngEDDU",
        "versionId": "f4139b82-ad83-458d-a85d-7931c4668ade",
        "event": "activated",
        "userId": "3068e795-a005-4af7-b4e6-7e9191129b19"
      },
      {
        "createdAt": "2026-07-16T19:25:02.332Z",
        "id": 55,
        "workflowId": "iPLMB3TIMwngEDDU",
        "versionId": "f4139b82-ad83-458d-a85d-7931c4668ade",
        "event": "activated",
        "userId": "3068e795-a005-4af7-b4e6-7e9191129b19"
      },
      {
        "createdAt": "2026-07-16T19:25:02.211Z",
        "id": 52,
        "workflowId": "iPLMB3TIMwngEDDU",
        "versionId": "f4139b82-ad83-458d-a85d-7931c4668ade",
        "event": "deactivated",
        "userId": "3068e795-a005-4af7-b4e6-7e9191129b19"
      },
      {
        "createdAt": "2026-07-16T19:25:02.302Z",
        "id": 54,
        "workflowId": "iPLMB3TIMwngEDDU",
        "versionId": "f4139b82-ad83-458d-a85d-7931c4668ade",
        "event": "deactivated",
        "userId": "3068e795-a005-4af7-b4e6-7e9191129b19"
      }
    ]
  }
}
